body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
}

.tickLabels {
    font-size: 14px;
}

.bar {
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 20px;
    font-weight: bold;
}